
PopovR_GUN28_GUNPC_Strings_And_Symbols.sln
PopovR_GUN28_GUNPC_Strings_And_Symbols.csproj
obj/project.nuget.cache
obj/project.assets.json
obj/PopovR_GUN28_GUNPC_Strings_And_Symbols.csproj.nuget.g.targets
obj/PopovR_GUN28_GUNPC_Strings_And_Symbols.csproj.nuget.g.props
obj/PopovR_GUN28_GUNPC_Strings_And_Symbols.csproj.nuget.dgspec.json
obj/Debug/net8.0/refint/PopovR_GUN28_GUNPC_Strings_And_Symbols.dll
obj/Debug/net8.0/ref/PopovR_GUN28_GUNPC_Strings_And_Symbols.dll
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Strings_And_Symbols.sourcelink.json
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Strings_And_Symbols.pdb
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Strings_And_Symbols.GlobalUsings.g.cs
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Strings_And_Symbols.genruntimeconfig.cache
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Strings_And_Symbols.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Strings_And_Symbols.dll
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Strings_And_Symbols.csproj.FileListAbsolute.txt
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Strings_And_Symbols.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Strings_And_Symbols.csproj.BuildWithSkipAnalyzers
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Strings_And_Symbols.assets.cache
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Strings_And_Symbols.AssemblyInfoInputs.cache
obj/Debug/net8.0/PopovR_GUN28_GUNPC_Strings_And_Symbols.AssemblyInfo.cs
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
bin/Debug/net8.0/PopovR_GUN28_GUNPC_Strings_And_Symbols.runtimeconfig.json
bin/Debug/net8.0/PopovR_GUN28_GUNPC_Strings_And_Symbols.pdb
bin/Debug/net8.0/PopovR_GUN28_GUNPC_Strings_And_Symbols.exe
bin/Debug/net8.0/PopovR_GUN28_GUNPC_Strings_And_Symbols.dll
bin/Debug/net8.0/PopovR_GUN28_GUNPC_Strings_And_Symbols.deps.json
.vs/PopovR_GUN28_GUNPC_Strings_And_Symbols/v17/DocumentLayout.json
.vs/PopovR_GUN28_GUNPC_Strings_And_Symbols/v17/DocumentLayout.backup.json
.vs/PopovR_GUN28_GUNPC_Strings_And_Symbols/v17/.suo
.vs/PopovR_GUN28_GUNPC_Strings_And_Symbols/FileContentIndex/2e26f189-e687-448d-9f38-1e365395c372.vsidx
.vs/PopovR_GUN28_GUNPC_Strings_And_Symbols/DesignTimeBuild/.dtbcache.v2
.gitattributes
.vs/ProjectEvaluation/popovr_gun28_gunpc_strings_and_symbols.strings.v9.bin
.vs/ProjectEvaluation/popovr_gun28_gunpc_strings_and_symbols.projects.v9.bin
.vs/ProjectEvaluation/popovr_gun28_gunpc_strings_and_symbols.metadata.v9.bin
.vs/PopovR_GUN28_GUNPC_Strings_And_Symbols/v17/.futdcache.v2
.vs/PopovR_GUN28_GUNPC_Strings_And_Symbols/FileContentIndex/d6ec663c-7fd2-45ca-9db1-9a746fc7b3b8.vsidx
